@font-face {
  font-family: "Lexend-SemiBold";
  src: url('fonts/Lexend-SemiBold') format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Regular";
  src: url('fonts/Lexend-Regular') format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto') format("ttf");
  font-weight: normal;
  font-style: normal;
}

/* Header */
.header {
  margin: 0 auto;
  width: 1600px;
  height: 720px;
  margin-bottom: 77px;
  background: linear-gradient(255.02deg,
      rgba(129, 194, 212, 0.56) 5.93%,
      rgba(138, 199, 217, 0.56) 23.18%,
      rgba(155, 207, 224, 0.72) 43.47%,
      rgba(135, 198, 215, 0.49) 58.21%,
      rgba(102, 178, 201, 0.57) 73.36%,
      rgba(98, 177, 198, 0.51) 92.76%);
}

.header1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  padding-left: 227px;
  padding-right: 569px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation p {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 227px;
  padding-top: 55px;
  padding-right: 106px;
}

/* Левая часть с текстом */
.mainTitle {
  max-width: 517px;
}

.subtitleHeader {
  font-family: "Lexend-SemiBold";
  color: rgba(23, 31, 229, 1);
  font-size: 21px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.mainTitle h1 {
  font-family: "Lexend-SemiBold";
  font-size: 61px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  height: 146px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 40px;
}

.shop-btn {
  background: #ff7f45;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.shop-btn:hover {
  background: #ff955e;
}

/* Правая часть с изображением */
.mainImg {
  position: relative;
}

.mainImg img {
  width: 650px;
  height: auto;
  padding-top: 30px;
  filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.2));
}

/* Блок 1 */
.conteiner1{
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 120px;
  justify-content: center;
  align-items: center;
}

.section1{
  display: flex;
  align-items: center;
  perspective: 1000px;
  transition: transform 0.3s;
  object-fit: cover;
}

.item01 {
  filter: brightness(60%);
}

.item02 {
  z-index: 1;
  margin-left: -16px;
}

.item03 {
  filter: brightness(60%);
  margin-left: -27px;
}

/* Блок 2 */
.conteiner2{
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 339px 339px;
  gap: 30px;
  justify-content: center;
}

.title2
 {
  margin-bottom: 70px;
  font-family: "Lexend-SemiBold";
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0%;
  font-style: normal;
  line-height: 120%;
}

.item1 {
  grid-row: 1/3;
}
.item2 {
  grid-row: 1/2;
  height: 339px;
}
.item3 {
  grid-row: 1/2;
}
.item4 {
  grid-row: 2/3;
}

/* Блок 3 */
.conteiner3 {
  width: 1148px;
  margin: 0 auto;
  margin-bottom: 127px;
}

.title3,
.title4
{
  text-align: center;
  font-size: 44px;
  font-family: "Lexend-SemiBold";
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.text{
  font-family: "Lexend-Regular", Sans-serif;
  font-size: 16px;
  max-width: 664px; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center; 
  margin-bottom: 70px; 
  margin-top: 20px;
  opacity: 0.7;
}
.products {
  width: 1148px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transition: transform 0.3s;
  object-fit: cover;
}
.item6 {
  transform: rotateY(22deg);
  width: 416.5px;
  height: 439px;
}
.item7 {
  transform: rotateY(22deg);
  z-index: 9;
  margin-left: -160px;
  width: 439.39px;
  height: 463.13px;
}
.item8 {
  z-index: 10;
  margin-left: -140px;
}
.item9 {
  transform: rotateY(-20deg);
  margin-left: -185px;
  z-index:9;
  width: 416.5px;
  height: 459px;
}
.item10 {
  transform: rotateY(-20deg);
  margin-left: -240px;
  width: 416.5px;
  height: 439px;
}

.spher {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.grey1,
.grey2,
.grey3,
.grey4,
.orange {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.grey1,
.grey2,
.grey3,
.grey4 {
  background-color: #F1F1F1;
}

.orange {
  background-color: #FF843F;
}

/* Блок 4 */
.conteiner4 {
  width: 1148px;
  margin: 0 auto;
  margin-bottom: 127px;
}
.specialty{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.item11,
.item12,
.item13
{
    width: 362px;
    height: 223px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.icon{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: rgba(23, 31, 229, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.icon1,
.icon2,
.icon3
 {
  position: absolute;
  left: 14px;
  top: 14px;
  z-index: 2;
}
.subtitle{
  font-family: "Lexend-SemiBold";
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.cardText{
  font-size: 16px;
  font-family: "Lexend-Regular", Sans-serif;
  text-align: center;
  opacity: 0.7;
  margin-top: 10px;
  margin-left: 42px;
  margin-right: 42px;
  }

  /* Блок 5 */
.conteiner5 {
  width: 1600px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.title5 {
  margin-left: 227px;
  margin-bottom: 70px;
  font-family: "Lexend-SemiBold";
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0%;
  font-style: normal;
  line-height: 120%;
  }

.brands {
  background-color: #F8FCFD;
  display: flex;
  justify-content: center;
  gap: 137px;
  height: 231px;
  align-items: center;
}

    /* Блок 6 */



    /* Footer */